<%- include ('partials/header.ejs')-%>

<div class="container mt-5">
    <div class="row ">
        <div class="col col-12 col-sm-12 mb-2 col-md-4">
            <div class="card w-100">
                <div class="card-body">
                  <h5 class="card-title text-center">Sección de concurso</h5>
                  <p class="card-text">Ir a la pagina para ver las ventas por cada cliente</p>
                  <a href="/sales" class="btn btn-primary btn-block">Ir ahora</a>
                </div>
            </div>
        </div>
        <div class="col col-12 col-sm-12 mb-2 col-md-4">
            <div class="card w-100">
                <div class="card-body">
                  <h5 class="card-title text-center">Ver Ventas</h5>
                  <p class="card-text">Ir a la pagina para ver todas las ventas</p>
                  <a href="/adminsales" class="btn btn-primary btn-block">Ir ahora</a>
                </div>
            </div>
        </div>
        <div class="col col-12 col-sm-12 mb-2 col-md-4">
            <div class="card w-100">
                <div class="card-body">
                  <h5 class="card-title text-center">Sección de Usuarios</h5>
                  <p class="card-text">Ir a la pagina para ver los usuarios registrados</p>
                  <a href="/users" class="btn btn-primary btn-block">Ir ahora</a>
                </div>
            </div>
        </div>
    </div>

</div>
<div class="position-fixed  bottom-0 right-0 p-3" style="position: absolute; top: 0; right: 0;" >
    <div id="testToast" role="alert" class="toast hide"  aria-live="assertive" aria-atomic="true" data-delay="2000">
      <div class="toast-header">
        <strong class="mr-auto">Fruteria Jose Hector dice:</strong>
        <button type="button" class="ml-2 mb-1 close" data-dismiss="toast" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="toast-body">
       Bienvenido <%= user.Nombre%>
      </div>
    </div>
  </div>


<%- include ('partials/footer.ejs')-%>